.characterEditor {
    isolation: isolate;
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
}

.maxWidthWrapper {
}

.header {
    padding-bottom: 64px;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    letter-spacing: -0.5px;
}

.description {
    font-size: 1.25rem;
    margin: 0;
}

.characterWrapper {
    z-index: 2;
}

.controlColumn {
    position: absolute;
    bottom: 200px;
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
}

.grayPane {
    display: none;
}

@media (min-width: 640px) {
    .characterEditor {
        padding-top: 128px;
    }

    .header {
        width: 65%;
    }

    .characterWrapper {
        left: 55%;
        position: fixed;
        top: 35%;
    }

    .controlColumn {
        position: revert;
        overflow-x: revert;
        width: 50%;
        white-space: revert;
    }

    .maxWidthWrapper {
        position: relative;
        z-index: 2;
    }

    .grayPane {
        background-color: hsl(195deg 20% 86%);
        display: revert;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 60%;
        z-index: 1;
    }
}
